.DS_Store
/api/node_modules
/mobile/node_modules
/web/node_modules
/mobile/dist
/web/dist

# local env files
/api/.env.local
/api/.env.*.local
/mobile/.env.local
/mobile/.env.*.local
/web/.env.local
/web/.env.*.local

# Log files
/api/npm-debug.log*
/api/yarn-debug.log*
/api/yarn-error.log*
/mobile/npm-debug.log*
/mobile/yarn-debug.log*
/mobile/yarn-error.log*
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
